name: Go

on:
  pull_request:

permissions:
  contents: read

env:
  GOLANGCI_VERSION: "v2.4.0"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.6
      - name: Setup Go environment
        uses: actions/setup-go@v5.0.1
        with:
          go-version-file: 'go.mod'
      - name: Build
        run: go build -v ./...

  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.6
      - name: Setup Go environment
        uses: actions/setup-go@v5.0.1
        with:
          go-version-file: 'go.mod'
      - name: Golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v8.0.0
        with:
          version: ${{ env.GOLANGCI_VERSION }}
          args: --timeout=30m --config=.golangci.yml

  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.6
      - id: govulncheck
        uses: golang/govulncheck-action@v1.0.4
        with:
          go-version-file: 'go.mod'
          go-package: ./...

  gosec:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4.1.6
      - name: Run Gosec Security Scanner
        uses: securego/gosec@v2.21.4
        with:
          args: "-no-fail -fmt sarif -out results.sarif ./..."

