name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GO_VERSION: "1.25.4"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{env.GO_VERSION}}

    - name: Install dependencies
      run: go mod tidy

    - name: Run tests
      run: go test -v ./...
